In [1]:
import os
os.getcwd(), os.listdir()

('C:\\Users\\tumma\\Desktop\\kowshal\\innomatics',
 ['.ipynb_checkpoints',
  'orders.csv',
  'restaurants.db',
  'restaurants.sql',
  'Untitled.ipynb',
  'users.json'])

In [2]:
import pandas as pd
import sqlite3

In [3]:
orders = pd.read_csv("orders.csv")
users = pd.read_json("users.json")

orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [4]:
conn = sqlite3.connect("restaurants.db")
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [5]:
final_df = (
    orders
    .merge(users, on="user_id", how="left")
    .merge(restaurants, on="restaurant_id", how="left")
)

final_df.shape

(10000, 12)

In [6]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [35]:
# Which city has the highest total revenue (total_amount) from Gold members?
(
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

'Chennai'

In [34]:
# Which cuisine has the highest average order value across all orders?
(
    final_df
    .groupby("cuisine")["total_amount"]
    .mean()
    .idxmax()
)

'Mexican'

In [36]:
# How many distinct users placed orders worth more than ₹1000 in total (sum of all their orders)?
(
    final_df
    .groupby("user_id")["total_amount"]
    .sum()
    .gt(1000)
    .sum()
)

np.int64(2544)

In [37]:
# Which restaurant rating range generated the highest total revenue?
final_df["rating_bucket"] = pd.cut(
    final_df["rating"],
    bins=[0, 3.5, 4.0, 4.5, 5.0],
    labels=["3.0–3.5", "3.6–4.0", "4.1–4.5", "4.6–5.0"]
)

(
    final_df
    .groupby("rating_bucket")["total_amount"]
    .sum()
    .idxmax()
)

C:\Users\tumma\AppData\Local\Temp\ipykernel_19936\1447891526.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("rating_bucket")["total_amount"]

'4.6–5.0'

In [38]:
# Among Gold members, which city has the highest average order value?
(
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .idxmax()
)

'Chennai'

In [39]:
# Which cuisine has the lowest number of distinct restaurants but still contributes significant revenue?
(
    final_df
    .groupby("cuisine")["restaurant_id"]
    .nunique()
    .sort_values()
)

cuisine
Chinese    120
Indian     126
Italian    126
Mexican    128
Name: restaurant_id, dtype: int64

In [40]:
# What percentage of total orders were placed by Gold members? (Rounded to nearest integer)
round(
    final_df[final_df["membership"] == "Gold"].shape[0] /
    final_df.shape[0] * 100
)

50

In [28]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating', 'rating_bucket', 'quarter'],
      dtype='object')

In [41]:
# Which restaurant has the highest average order value but less than 20 total orders?
options = [
    "Grand Cafe Punjabi",
    "Grand Restaurant South Indian",
    "Ruchi Mess Multicuisine",
    "Ruchi Foods Chinese"
]

final_df[final_df["restaurant_name_y"].isin(options)] \
    .groupby("restaurant_name_y")["total_amount"] \
    .agg(["mean", "count"]) \
    .query("count < 20") \
    .sort_values("mean", ascending=False)

Empty DataFrame
Columns: [mean, count]
Index: []

In [42]:
# Which combination contributes the highest revenue?
final_df.groupby(["membership", "cuisine"])["total_amount"] \
        .sum() \
        .sort_values(ascending=False) \
        .head()

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Name: total_amount, dtype: float64

In [43]:
# During which quarter of the year is the total revenue highest?
final_df["order_date"] = pd.to_datetime(final_df["order_date"])
final_df["quarter"] = final_df["order_date"].dt.to_period("Q")

(
    final_df
    .groupby("quarter")["total_amount"]
    .sum()
    .idxmax()
)

Period('2023Q3', 'Q-DEC')

In [48]:
# How many total orders were placed by users with Gold membership?
final_df[final_df["membership"] == "Gold"].shape[0]

4987

In [49]:
# What is the total revenue (rounded to nearest integer) generated from orders placed in Hyderabad city?
round(final_df[final_df["city"] == "Hyderabad"]["total_amount"].sum())

1889367

In [50]:
# How many distinct users placed at least one order?
final_df["user_id"].nunique()

2883

In [51]:
# What is the average order value (rounded to 2 decimals) for Gold members?
round(final_df[final_df["membership"] == "Gold"]["total_amount"].mean(), 2)

np.float64(797.15)

In [52]:
# How many orders were placed for restaurants with rating ≥ 4.5?
final_df[final_df["rating"] >= 4.5].shape[0]

3374

In [53]:
# How many orders were placed in the top revenue city among Gold members only?
gold_city = (
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

final_df[
    (final_df["membership"] == "Gold") &
    (final_df["city"] == gold_city)
].shape[0]

1337